
openglh/\.vs/

openglh/Libs/

openglh/Programs/Skeleton/bin/

openglh/Programs/Skeleton/.vs/

openglh/Programs/Skeleton/Skeleton/Release/
 
openglh/Programs/Skeleton/Skeleton/Debug/

*.sln

*.suo

*.vcxproj

*.filters

*.user
